<mat-card align="center">
  <mat-card-title class="my-primary-text">
    <div style="margin-bottom: 3vh;">Case study</div>
    <div class="logo">
      <img src="assets/images/vendor.png" width="150" height="105" alt="Logo" />
    </div>
    <div class="pad-md">
      <span style="margin-top: 10vh; font-size: x-small; margin-bottom: 2vh;">v1.0</span>
    </div>
  </mat-card-title>
  <mat-card-footer align="end" class="my-accent-text">
    <span style="padding-right: 1vh; font-size: smaller"> &copy;Info5059 - 2020</span>
  </mat-card-footer>
</mat-card>
